/*      Colores    */

:root{
    --rojo: #ff5656;
    --blanco: #edf2f6;
    --azul: #6a7efc;
    --negro: #494953;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*         Header             */

.header{
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    align-items: center;
    margin-bottom: 50px;
    position: sticky;
    top: 0;
    box-shadow: 0 1px 10px 5px #ccc;
    z-index: 100;
}

.header > .logo > img{
    width: 70px;
    height: 70px;
}

.nav > ul{
    display: flex;
    margin:auto;
}

.header > .nav > ul > li{
    list-style: none;
    margin: 0 20px;
}
.header > .nav > ul > li > a{
    text-decoration: none;
    color: var(--negro);
    transition: color .3s ease;
}
.header > .nav > ul > li > a:hover{
    text-decoration: none;
    color: var(--azul);
    border-bottom: solid 2px var(--azul);
}

.contacto > button{
    padding: 12px;
    background-color: transparent;
    border: solid 1px var(--negro);
    letter-spacing: 2px;
    color: var(--negro);
    cursor: pointer;
    transition: all .3s ease-in;
}

.contacto > button:hover {
    background-color: var(--azul);
    color: var(--blanco);
    border: solid 1px var(--azul);
}

.equipo{
    display: inline-block;
    border: solid 1px var(--azul);
    margin-left: 10px;
    padding: 10px;
}

/*          Portafolio           */

.portafolio{
    display: flex;
    flex-direction: column;
}
.portafolio > .principal > h3{
    text-align: center;
    margin: 20px;
}
.portafolio > .secundario{
    display: flex;
    justify-content: space-around;
}